variables:
  DOCKER_IMAGE_TAG: $CI_PIPELINE_IID
  DOCKER_IMAGE_NAME: $CI_REGISTRY_IMAGE/$CI_COMMIT_REF_SLUG

stages:
  - build
  - deploy
  - tag

build:image:dev:
  stage: build
  tags:
    - shell-build-runer
  rules:
    - if: $CI_COMMIT_REF_NAME == "dev" && $CI_PIPELINE_SOURCE != "merge_request_event"
      when: on_success
    - when: never
  before_script:
    - docker login -u $CI_REGISTRY_USER_MAIN -p $CI_ACCESS_TOKEN $CI_REGISTRY
  script:
    - docker build -t $DOCKER_IMAGE_NAME:$DOCKER_IMAGE_TAG .
    - docker push $DOCKER_IMAGE_NAME:$DOCKER_IMAGE_TAG

deploy:image:dev:
  stage: deploy
  tags:
    - shell-runer
  variables:
    PROJ: pepeunit-frontend-dev
  rules:
    - if: $CI_COMMIT_REF_NAME == "dev" && $CI_PIPELINE_SOURCE != "merge_request_event"
      when: on_success
    - when: never
  before_script:
    - docker login -u $CI_REGISTRY_USER_MAIN -p $CI_ACCESS_TOKEN $CI_REGISTRY
  script:
    - docker pull $DOCKER_IMAGE_NAME:$DOCKER_IMAGE_TAG
    - docker stop $PROJ || echo $?
    - docker rm $PROJ || echo $?
    - docker run -d --name=$PROJ -p 5501:80 --env-file $ENV_FILE --restart=always $DOCKER_IMAGE_NAME:$DOCKER_IMAGE_TAG
    - docker system prune -a -f

tag:
  stage: tag
  tags:
    - shell-main-pc
  rules:
    - if: $CI_COMMIT_TAG
      when: on_success
  script:
    - docker build -t w7a8n1y4a/pepeunit-frontend:$CI_COMMIT_TAG .
    - docker push w7a8n1y4a/pepeunit-frontend:$CI_COMMIT_TAG
    - 'curl --request POST "https://git.pepemoss.com/api/v4/projects/${CI_PROJECT_ID}/releases" --header "PRIVATE-TOKEN: $CI_ACCESS_TOKEN" --data "name=Release Tag - $CI_COMMIT_TAG" --data "tag_name=$CI_COMMIT_TAG" --data "description=All builds on [Docker Hub](https://hub.docker.com/r/w7a8n1y4a/pepeunit-frontend/tags) - $CI_COMMIT_TAG"'
