.search-div {
    margin-left: 17px;
}

.search-mod-menu {
    display: flex;
    flex-direction: row;
}

.search-button {
    margin-left: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: 2px solid #161818;
    border-radius: 8px;
    padding: 0.4rem;
    font-size: 0.9rem;
    color: #909090;
    cursor: pointer;
    transition: all 0.2s ease;
}

.search-button svg {
    margin-right: 8px;
}

.search-button:hover {
    border: 2px solid #999;
}

.search-button:active {
    background-color: #161818;
}