dialog {
    border-radius: 16px;
    border: solid 3px;
    border-color: #161818;
    min-width: 400px;
    max-width: 700px;
    background-color: #070909;
    color: #ffffff;
}

.modal_header {
    display: flex;
}

.modal_name { 
    padding-bottom: 10px;
    font-size: 22px;
}

.modal_sub_name {
    margin-top: -2px;
    font-size: 14px;
}

.modal_last_update {
    padding-top: 10px;
    font-size: 12px;
}

.modal_menu_button {
    background: transparent;
    border: none;
    cursor: pointer;
    padding-left: 0px;
    padding-top: 0px;
    margin-top: 0px;
}

.div_modal_buttons {
    margin-left: auto;
    padding-left: 10px;
    padding-top: 4px;
}

.clipboard-notification {
    position: fixed;
    padding: 4px 8px;
    color: #ffffff;
    border: solid 2px;
    background-color: #070909;
    border-color: #161818;
    border-radius: 4px;
    font-size: 18px;
    pointer-events: none;
    z-index: 9999;
    opacity: 1;
    transition: opacity 0.25s ease-out;
}
