dialog {
    border-radius: 16px;
    border: solid 3px;
    border-color: #282828;
}

.modal_name {
    padding-bottom: 10px;
    font-size: 22px;
}

.back_modal,
.close_modal {
    position: absolute;
    top: 15px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.close_modal {
    right: 15px;
}

.back_modal {
    top: 12px;
    right: 40px;
}