.app-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 5px;
    background-color: transparent;
    box-sizing: border-box;
    font-size: 18px;
    color: #fff;
  }
  
  .logo {
    margin-top: 2px;
    margin-right: 18px;
    margin-left: 2px;
  }

  .docs {
    margin-top: -4px;
  }

  .search-div {
    margin-left: 17px;
  }

  .search-mod-menu {
    display: flex;
    flex-direction: row;
  }

  .search-button {
    margin-left: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: 2px solid #282828;
    border-radius: 8px;
    padding: 0.4rem;
    font-size: 0.9rem;
    color: #909090;
    cursor: pointer;
    transition: all 0.2s ease;
  }

  .search-button svg {
    margin-right: 8px;
  }
  
  .search-button:hover {
    border: 2px solid #999;
  }
  
  .search-button:active {
    background-color: #282828;
  }
  
  .user_controls {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  
  .signin_button, .user_menu_button, .signout_button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #fff;
  }
  
  .signin_button:focus, .user_menu_button:focus, .signout_button:focus {
    outline: none;
  }
  
  .signin_button img, .user_menu_button img, .signout_button img {
    display: inline-block;
    vertical-align: middle;
  }

  .user_menu_button {
    padding-right: 15px;
    padding-left: 10px;
    font-size: 18px;
  }

  .signout_button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .signout_button img {
    display: inline-block;
    vertical-align: middle;
    transform: rotate(45deg);
  }
  
  .modal_menu_content {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  a {
    text-decoration: none;
    color: inherit;
  }
  
  a:visited {
    color: inherit;
  }
  
  a:focus, a:active {
    outline: none;
  }
  