.app-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 5px;
    background-color: transparent;
    box-sizing: border-box;
    font-size: 18px;
    color: #fff;
  }
  
  .logo {
    margin-right: 20px;
  }
  
  .search {
    margin-left: 10px;
    color: #fff;
  }
  
  .user_controls {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  
  .signin_button, .user_menu_button, .signout_button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #fff;
  }
  
  .signin_button:focus, .user_menu_button:focus, .signout_button:focus {
    outline: none;
  }
  
  .signin_button img, .user_menu_button img, .signout_button img {
    display: inline-block;
    vertical-align: middle;
  }

  .user_menu_button {
    padding-right: 15px;
    margin-top: 9px;
    font-size: 18px;
  }

  .signout_button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .signout_button img {
    display: inline-block;
    vertical-align: middle;
    transform: rotate(45deg);
  }
  
  .modal_menu_content {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  a {
    text-decoration: none;
    color: inherit;
  }
  
  a:visited {
    color: inherit;
  }
  
  a:focus, a:active {
    outline: none;
  }
  