@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter_18pt-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-family: 'Inter';
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: #fff;
  background-color: #101010;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 100%;
  min-height: 100%;
}

*,
*::before,
*::after {
  font-family: var(--font-family);
}
